@font-face{
    font-family: tipo;
    src: url(../fonts/tipo.otf);
}
.menu a{
    text-decoration: none;
    color:black;
    font-size: 200%;    
    text-decoration: underline;
}

.menu{
    margin-top: 70px;
    background-color: grey;
    border: 2px outset burlywood;
}
body{
    font-family: fantasy;
    background-color: lavender;
}

.number{
    font-family: fantasy;
}

